<form class="col s12" ng-submit="vm.registerUser()" name="registrationForm" novalidate>
  <h4>Create a new account.</h4>
  <hr />
  <div class="row">
    <div class="input-field col s12 m8">
      <input id="regemail" name="email" type="email" ng-model="vm.formData.email" ng-required="true" class="validate" />
      <label for="regemail" ng-show="(!registrationForm.email.$touched || !registrationForm.email.$error.required) && (!registrationForm.email.$invalid || registrationForm.email.$pristine)">Email</label>
      <label for="regemail" class="red-text" ng-show="(registrationForm.email.$touched && registrationForm.email.$error.required) || (registrationForm.email.$invalid && !registrationForm.email.$pristine)">Valid email is required</label>
    </div>
    <!-- <ul>
      <li class="red-text" ng-show="registrationForm.email.$touched && registrationForm.email.$error.required">
        An email is required
      </li>
      <li class="red-text" ng-show="registrationForm.email.$invalid && !registrationForm.email.$pristine">
        The email provided is not a valid email
      </li>
    </ul> -->
    <div class="input-field col s12 m4">
      <input id="username" name="username" type="text" ng-model="vm.formData.username" ng-required="true" class="validate" />
      <label for="username" ng-show="(!loginForm.username.$touched || !loginForm.username.$error.required)">Username</label>
      <label for="username" class="red-text" ng-show="loginForm.username.$touched && loginForm.username.$error.required">Unique username required</label>
    </div>
  </div>
  <div class="row">
    <ul class="col s12 center-align" id="avatars">
      <li ng-repeat="avatar in vm.AvatarService.avatars">
        <label>
          <input type="radio" name="avatarId" id="av{{avatar.id}}" ng-value={{avatar.id}} ng-model="vm.formData.avatarId">
          <img ng-src="/images/{{avatar.imageUrl}}" alt="Avatar {{avatar.id}}" class="circle">
        </label>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="input-field col s12 m6">
      <input id="regpassword" name="regpassword" type="password" ng-model="vm.formData.password" ng-required="true" ng-minlength="8"
        ng-pattern="vm.pattern" class="validate" />
      <label for="regpassword" ng-show="(!registrationForm.regpassword.$touched || !registrationForm.regpassword.$error.required) && !registrationForm.regpassword.$error.minlength && !registrationForm.regpassword.$error.pattern">Password</label>
      <label for="regpassword" class="red-text" ng-show="registrationForm.regpassword.$touched && registrationForm.regpassword.$error.required">A password is required</label>
      <label for="regpassword" class="red-text" ng-show="registrationForm.regpassword.$error.pattern">Password: 8+ Characters, Number, Symbol, Upper, Lower</label>
      <div class="feedback">
        <span ng-class="{'grey-text': vm.checkRegExp('8plus', registrationForm.regpassword.$viewValue)}">8+ Characters</span>
        <span class="grey-text">&nbsp;|&nbsp;</span>
        <span ng-class="{'grey-text': vm.checkRegExp('Number', registrationForm.regpassword.$viewValue)}">Number</span>
        <span class="grey-text">&nbsp;|&nbsp;</span>
        <span ng-class="{'grey-text': vm.checkRegExp('Symbol', registrationForm.regpassword.$viewValue)}">Symbol</span>
        <span class="grey-text">&nbsp;|&nbsp;</span>
        <span ng-class="{'grey-text': vm.checkRegExp('Upper', registrationForm.regpassword.$viewValue)}">Upper</span>
        <span class="grey-text">&nbsp;|&nbsp;</span>
        <span ng-class="{'grey-text': vm.checkRegExp('Lower', registrationForm.regpassword.$viewValue)}">Lower</span>
      </div>
    </div>
    <div class="input-field col s12 m6">
      <input id="regconfirmpassword" name="confirmPassword" type="password" ng-model="vm.formData.confirmPassword" ng-required="true"
        class="validate" />
      <label for="regconfirmpassword" ng-show="!registrationForm.confirmPassword.$touched || !registrationForm.confirmPassword.$error.required">Confirm Password</label>
      <label for="regconfirmpassword" class="red-text" ng-show="registrationForm.confirmPassword.$touched && registrationForm.confirmPassword.$error.required">Need to confirm your password</label>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <button type="submit" class="btn right">Register</button>
    </div>
  </div>
</form>

<script>
  $(document).on('click','#avatars li',function () {
    $(this).siblings().find('input').removeAttr('checked');
    $(this).siblings().find('img').removeClass('selected');
    $(this).find('input').attr('checked', true)
    $(this).find('img').addClass('selected');
  });
  // $('#registrationForm').click(function () {
  //   let inputs = $('#registrationForm input')
  //   inputs.forEach(function(element) {
  //     console.log(element.value);
  //   });
  // });
</script>