<h1>Forgot Password</h1>

<form class="row" ng-submit="vm.requestPassword()">
  <h4>Enter your email.</h4>
  <hr />
  <div class="row">
    <div class="input-field col m8">
      <input id="email" class="form-control" ng-model="vm.formData.email" />
      <label for="email" class="col-md-2 control-label"></label>
      <span class="red-text"></span>
    </div>
  </div>
  <div class="row">
    <div class="input-field col offset-m2 m10">
      <button type="submit" class="btn">Submit</button>
    </div>
  </div>
</form>