<div class="row">
  <div class="col s10 offset-s1 card">
    <div class="card-content ">
      <div class="">
        <h4>
          <a ng-click="vm.showDate = !vm.showDate" class="btn-floating yellow darken-2"><i class="material-icons">access_time</i></a>
          <span>Let's chat it up!</span>
        </h4>
      </div>
      <ul id="postsList">
        <li ng-repeat="post in posts | limitTo : -10 : 0">
          <span ng-show='vm.showDate' style="font-size: smaller; color: gray;">{{post.timestamp | date : 'yyyy/MM/dd hh:mm:ss'}}&nbsp;</span>{{post.author}}: {{post.content}}
        </li>
      </ul>
    </div>
    <div class="card-action">
      <form>
        <div class="input-field">
          <div class="col s10">
            <input id="textInput" type="text" placeholder="{{vm.AuthenticationService.User.userName}}" />
          </div>
          <div class="col s2">
            <button type="submit" class="btn btn-primary" id="publishPostButton" ng-click="sendMessage()">Send</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>