<div id="player-card">
  <div class="row">
    <div class="col s12 offset-m1 m10">
      <div class="card purple lighten-3">
        <div class="row">
          <div class="avatar col s3 l2 align-center">
            <img ng-cloak ng-src="/images/{{vm.AuthenticationService.User.avatarUrl}}" alt="Avatar" class="circle medium">
          </div>
          <div class="col s9 l10">
            <div class="card-content black-text">
              <span class="card-title">{{vm.AuthenticationService.User.userName}}</span>
              <p>Role: <span ng-show="vm.AuthenticationService.User.isAdmin">Admin</span><span ng-show="!vm.AuthenticationService.User.isAdmin">Normal</span></p>
              <p>Email: {{vm.AuthenticationService.User.email}}</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col s10 offset-s1" ng-class="{card: vm.friendEdit}">
            <div class="row">

              <div class="col s12 valign-wrapper">
                <div id="edit-friends" class="btn-floating orange white-text">
                  <i class="material-icons" ng-click="vm.editFriends()">thumbs_up_down</i>
                </div>
                <h5>&nbsp;Friends</h5>
              </div>
            </div>
            <div class="row col s12">
              <div class="chip" ng-repeat="friend in vm.FriendService.friends" id="{{friend.friendId}}">
                <img src="/images/{{friend.avatarUrl}}" alt="Friend">&nbsp;{{friend.userName}}
                <i class="close material-icons" ng-show="vm.friendEdit" ng-click="vm.deleteFriend(friend.friendId)">close</i>
              </div>
            </div>
            <form id="friends" name="friendForm" class="col s12">
              <div class="row valign-wrapper" ng-show="vm.friendEdit">
                <div class="input-field col s9">
                  <input type="text" id="search-term" placeholder="Username or Email" ng-model="vm.searchTerm" ng-required>
                  <label for="search-term" data-error={{vm.friendError}} data-success={{vm.friendSuccess}}></label>
                  <span class="feedback">{{vm.feedback}}</span>
                </div>
                <div class="col s3 ">
                  <button class="btn" ng-click="vm.findFriend(vm.searchTerm)">Add</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="card-action">
        <a ui-sref="Invite" class="btn">Start Game</a>
      </div>
    </div>
  </div>
</div>
<!-- <div id="qz-user-profile">
  <qz-player-card player="vm.LoginService.user"></qz-player-card>
</div> -->

<script>
  $('.chips').material_chip();
</script>