<!-- Heading with filter for questions -->
<div id='questions'>
  <div id="filters" class="row">
    <div class="col s12">
      <div class="card indigo lighten-4">
        <div class="card-content black-text">
          <span class="card-title">{{ vm.title }}</span>
          <div class="row">
            <div class="input-field col s12 m4">
              <select name="categorySelect" id="categorySelect" ng-model="vm.category">
                <option value="" selected>Show all</option>
                <option ng-repeat="cat in vm.QuestionService.categories" value={{cat}}>{{cat}}</option>
              </select>
              <label for="categorySelect">Category</label>
            </div>
            <div class="input-field col s12 m4">
              <select name="difficultySelect" id="categorySelect" ng-model="vm.difficulty">
                <option value="" selected>Show all</option>
                <option ng-repeat="level in vm.QuestionService.difficulty" value={{level}}>{{level}}</option>
              </select>
              <label for="difficultySelect">Difficulty</label>
            </div>
            <div class="input-field col s12 m4">
              <input type="text" id="search" ng-model="vm.search" class="validate">
              <label for="search">Search</label>
            </div>
          </div>
          <div class="row">
            <div class="col s12 m8 center-align">
              <dir-pagination-controls></dir-pagination-controls>
            </div>
            <div class="col s12 m4">
              <button class="btn blue right" ng-click="vm.addQuestion()"><i class="material-icons left">add</i>Add Question</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- angular list of questions -->
  <div class="row">
    <ul id='question-list' class="collapsible popout" data-collapsible="accordion" watch>
      <li ng-cloak dir-paginate="q in vm.questions | filter: vm.category | filter: vm.difficulty | filter: vm.search | itemsPerPage: 10">
        <div class="collapsible-header" ng-click='vm.onViewQuestion(q.id)'>
          <div class="col s1">{{ q.id }}.</div>
          <div>{{ q.question }}</div>
        </div>
        <div class="collapsible-body">
          <div ui-view="detail"></div>
        </div>
      </li>
    </ul>
  </div>

  <script>
    $(document).ready(function () {
      $('select').material_select();
      $('.collapsible').collapsible();
    });
  </script>