<ul id="answer-list" class="collection">
  <li class="collection-item row"><span class="col s1">A.</span>{{ q.correct_Answer }}<span class="new badge green" data-badge-caption="Right"></span></li>
  <li class="collection-item row" ng-repeat="a in [q.incorrect_Answer1, q.incorrect_Answer2, q.incorrect_Answer3]"><span class="col s1">{{ "BCD"[$index] }}.</span>{{ a }}<span class="new badge red" data-badge-caption="Wrong"></span></li>
</ul>
<div class="row" style="position: relative; height: 48px;">
  <div class="col m6 l4">{{ q.category }}: {{ q.difficulty }}</div>
  <div class="col m6 l4">Source: {{ q.source }} </div>
  <div class="col m6 l4">Modified on {{ q.dateModified | date : 'mediumDate' }} </div>
    <div style="position: absolute; display: inline-block; right: 24px; bottom: 0;">
    <button id="edit-question" class="btn-floating orange" ng-click="vm.onEditQuestion(q.id)">
      <i class="large material-icons">mode_edit</i>
    </button>
  </div>
</div>