<div id='questions'>
  <h2>{{ vm.title }}</h2>
  <div class="">
    <ul id='question-list' class="collapsible popout" data-collapsible="accordion">
      <!--<li>
        <div class="collapsible-header">Testing 1</div>
        <div class="collapsible-body">Stuff</div>
      </li>
      <li>
        <div class="collapsible-header">Testing 2</div>
        <div class="collapsible-body">More stuff</div>
      </li>-->
      <li ng-cloak ng-repeat="q in vm.questions">
        <div class="collapsible-header">
          <h5>{{ q.id }}. {{ q.question }}</h5>
        </div>
        <div class="collapsible-body">
          <ul id="answer-list" class="collection">
            <li class="collection">1. {{ q.correct_Answer }}<span class="new badge green" data-badge-caption="Right"></span></li>
            <li class="collection" ng-repeat="a in [q.incorrect_Answer1, q.incorrect_Answer2, q.incorrect_Answer3]">{{ $index+2 }}. {{ a }}<span class="new badge red" data-badge-caption="Wrong"></span></li>
          </ul>
          <p>{{ q.category }}: {{ q.difficulty }} </p>
        </div>
      </li>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('.collapsible').collapsible();
  });
</script>