<div id='questions'>
  <div id="filters" class="row">
    <div class="col s12">
      <div class="card indigo lighten-2">
        <div class="card-content white-text">
          <span class="card-title">{{ vm.title }}</span>
          <div class="row">
            <div class="input-field col s5">
              <select name="categorySelect" id="categorySelect" ng-model="vm.category">
              <option value="" selected>Show all</option>
              <option ng-repeat="cat in vm.QuestionService.categories" value={{cat}}>{{cat}}</option>
            </select>
              <label>Category</label>
            </div>
          </div>
          <div class="row">
            <dir-pagination-controls></dir-pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <ul id='question-list' class="collapsible popout" data-collapsible="accordion" watch>
      <li ng-cloak dir-paginate="q in vm.questions | filter: vm.category | itemsPerPage: 10">
        <div class="collapsible-header">
          <div class="col s1">{{ q.id }}.</div>
          <div>{{ q.question }}</div>
        </div>
        <div class="collapsible-body">
          <ul type="A" id="answer-list" class="collection alpha-list">
            <li class="collection-item row"><span class="col s1">A.</span>{{ q.correct_Answer }}<span class="new badge green" data-badge-caption="Right"></span></li>
            <li class="collection-item row" ng-repeat="a in [q.incorrect_Answer1, q.incorrect_Answer2, q.incorrect_Answer3]"><span class="col s1">{{ "BCD"[$index] }}.</span>{{ a }}<span class="new badge red" data-badge-caption="Wrong"></span></li>
          </ul>
          <p>{{ q.category }}: {{ q.difficulty }} </p>
        </div>
      </li>
    </ul>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('select').material_select();
  });
  $(document).ready(function () {
    $('.collapsible').collapsible();
  });
</script>