@inject Microsoft.ApplicationInsights.AspNetCore.JavaScriptSnippet JavaScriptSnippet
<!DOCTYPE html>
<html ng-app="app">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quizdom</title>

    <base href="/">
    <environment names="Development">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <!--Import materialize.css-->
        <link rel="stylesheet" href="~/lib/materialize/dist/css/materialize.min.css" media="screen,projection" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="~/../dist/css/extra.css">
    </environment>
    <environment names="Staging,Production">
        <!--Import Google Icon Font-->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css" asp-fallback-href="~/css/materialize.min.css">
        <link rel="stylesheet" href="~/../dist/css/extra.css" asp-append-version="true">
    </environment>
    @Html.Raw(JavaScriptSnippet.FullScript)
</head>

<body>
    <div class="container body-content">
        <nav>
            <div class="nav-wrapper" ng-controller="AppController as vm">
                <a href="#!" class="brand-logo hide-on-med-and-up"><i class="large material-icons left">question_answer</i>Quizdom</a>
                <a href="#" data-activates="mobile-demo" class="button-collapse hide-on-med-and-up"><i class="material-icons">menu</i></a>
                <ul class="align-center hide-on-small-only">
                    <li ng-class="{active: vm.myState('Welcome')}"><a ui-sref="Welcome"><i class="large material-icons left">question_answer</i>Quizdom</a></li>
                    <li ng-class="{active: vm.myState('Questions')}"><a ui-sref="Questions">Quiz Questions</a></li>
                    <li ng-if="vm.isUserLoggedIn" ng-class="{active: vm.myState('User')}"><a ui-sref="User({userName: vm.user.userName})">{{vm.user.userName}}</a></li>
                    <li ng-if="!vm.isUserLoggedIn" ng-class="{active: vm.myState('Register')}"><a ui-sref="Register">Register</a></li>
                    <li ng-if="!vm.isUserLoggedIn" ng-class="{active: vm.myState('Login')}" git c><a ui-sref="Login">Log in</a></li>
                    <li ng-if="vm.isUserLoggedIn"><a ng-click="vm.logOut()">Sign Out</a></li>
                </ul>
                <ul class="side-nav" id="mobile-demo">
                    <li ng-class="{active: vm.myState('Welcome')}"><a ui-sref="Welcome"><i class="large material-icons left">question_answer</i>Quizdom</a></li>
                    <li ng-class="{active: vm.myState('Questions')}"><a ui-sref="Questions">Quiz Questions</a></li>
                    <li ng-if="!vm.isUserLoggedIn" ng-class="{active: vm.myState('Register')}"><a ui-sref="Register">Register</a></li>
                    <li ng-if="!vm.isUserLoggedIn" ng-class="{active: vm.myState('Login')}"><a ui-sref="Login">Log in</a></li>
                    <li ng-if="vm.isUserLoggedIn" ng-class="{active: vm.myState('User')}"><a ui-sref="User({userName: vm.user.userName})">{{vm.user.userName}}</a></li>
                    <li ng-if="vm.isUserLoggedIn"><a ng-click="vm.logOut()">Sign Out</a></li>
                </ul>
            </div>
        </nav>

        <ui-view></ui-view>
    </div>

    <!-- third-party libraries -->
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/materialize/dist/js/materialize.js"></script>
    <script src="~/lib/angular/angular.js"></script>
    <script src="~/lib/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="~/lib/angular-resource/angular-resource.js"></script>
    <script src="~/lib/angularUtils-pagination/dirPagination.js"></script>

    <!--ajax & SignalR libraries  -->
    <script src="~/lib/signalr/jquery.signalR.min.js"></script>
    <!-- <script src="http://ajax.aspnetcdn.com/ajax/signalr/jquery.signalr-2.2.2.min.js"></script> -->
    <script src="/signalr/hubs"></script>

    <!-- Models -->
    <script src="~/js/models/user.model.js"></script>
    <script src="~/js/models/forgotpassword.model.js"></script>
    <script src="~/js/models/login.model.js"></script>
    <script src="~/js/models/register.model.js"></script>
    <script src="~/js/models/avatar.model.js"></script>
    <script src="~/js/models/question.js"></script>

    <!-- Factories  -->
    <script src="~/js/factories/AuthenticationInterceptor.js"></script>
    <script src="~/js/factories/AuthenticationData.js"></script>
    <script src="~/js/factories/AvatarResource.js"></script>
    <script src="~/js/factories/Factories.js"></script>

    <!-- Directives  -->
    <script src="~/js/directives/qzPlayerCard/qzPlayerCard.js"></script>
    <script src="~/js/directives/qzPlayerChip/qzPlayerChip.js"></script>
    <script src="~/js/directives/Directives.js"></script>

    <!-- Services  -->
    <script src="~/js/services/QuestionService.js"></script>
    <script src="~/js/services/FriendService.js"></script>
    <script src="~/js/services/AvatarService.js"></script>
    <script src="~/js/services/LoginService.js"></script>
    <script src="~/js/services/GameService.js"></script>
    <script src="~/js/services/RegistrationService.js"></script>
    <script src="~/js/services/AuthenticationService.js"></script>
    <script src="~/js/services/ActiveService.js"></script>
    <script src="~/js/services/Services.js"></script>

    <!-- Application Views  -->
    <script src="~/js/views/welcome/welcome.controller.js"></script>
    <script src="~/js/views/welcome/welcome.config.js"></script>
    <script src="~/js/views/welcome/welcome.js"></script>

    <script src="~/js/views/questions/questions.controller.js"></script>
    <script src="~/js/views/questions/questions.config.js"></script>
    <script src="~/js/views/questions/questions.js"></script>

    <script src="~/js/views/login/login.controller.js"></script>
    <script src="~/js/views/login/login.config.js"></script>
    <script src="~/js/views/login/login.js"></script>

    <script src="~/js/views/register/register.controller.js"></script>
    <script src="~/js/views/register/register.config.js"></script>
    <script src="~/js/views/register/register.js"></script>

    <script src="~/js/views/user/user.controller.js"></script>
    <script src="~/js/views/user/user.config.js"></script>
    <script src="~/js/views/user/user.js"></script>

    <script src="~/js/views/invite/invite.controller.js"></script>
    <script src="~/js/views/invite/invite.config.js"></script>
    <script src="~/js/views/invite/invite.js"></script>

    <script src="~/js/views/setup/setup.controller.js"></script>
    <script src="~/js/views/setup/setup.config.js"></script>
    <script src="~/js/views/setup/setup.js"></script>

    <script src="~/js/views/play/play.controller.js"></script>
    <script src="~/js/views/play/play.config.js"></script>
    <script src="~/js/views/play/play.js"></script>

    <script src="~/js/views/chat/chat.controller.js"></script>
    <script src="~/js/views/chat/chat.config.js"></script>
    <script src="~/js/views/chat/chat.js"></script>

    <script src="~/js/views/forgotpassword/forgotpassword.controller.js"></script>
    <script src="~/js/views/forgotpassword/forgotpassword.config.js"></script>
    <script src="~/js/views/forgotpassword/forgotpassword.js"></script>

    <script src="~/js/views/404/404.config.js"></script>
    <script src="~/js/views/404/404.js"></script>

    <script src="~/js/views/views.js"></script>

    <!-- Application  -->
    <script src="~/js/app.controller.js"></script>
    <script src="~/js/app.config.js"></script>
    <script src="~/js/app.js"></script>

    <!-- Materialize leftside navbar -->
    <script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
        })
    </script>

    <!-- Must be present or app will not find linked Angular files
        @RenderBody()
    -->

    @RenderSection("Scripts", required: false)
</body>

</html>