<!-- Welcome to the game and rules -->
<div class="card grey-text text-darken-4" id='welcome'>
  <div class="card-content">
    <span class="card-title center-align">How to play</span>
    <ol>
      <li>Active player picks a question</li>
      <li>Question and 4 answers are shown</li>
      <li>Every player selects an answer</li>
      <li>All players who answer correctly are awarded points</li>
      <li>Player with quickest correct answer picks next question</br>
        If nobody answers correctly, active player picks again</li>
    </ol>
    <span class="card-title center-align">Winning</span>
    <ul>
      <li>For every question, fastest correct player awarded bonus points</li>
      <li>Players ranked by points, questions correct, and response time</li>
    </ul>
  </div>
  <div class="card-action center-align">
    <a class="btn" ng-click="vm.triggerPlay()">Play</a>
  </div>
</div>