<!-- Pick from 3 rows of 6 columns of gameBoards AKA questions showing prizePoints -->
<div class="row" id="pick">
  <div class="col" ng-class="vm.GameService.gameCatClass" ng-repeat="cat in vm.GameService.gameCategories">
    <div class="card-panel blue darken-4">
      <span class="card-title center-align">{{cat.shortDescription}}</span>
    </div>
  </div>
</div>
<div class="row" ng-repeat="row in [0,1,2]" id='pick' ng-show="vm.showMe('pick')">
  <div class="game-question col s4 m2" ng-repeat="gb in vm.GameService.gameBoards | filter: {boardRow:row}">
    <div class="card" ng-class="vm.gameBoardClass(gb)" ng-click="vm.triggerPrepare(gb.id)">
      <div class="card-content">
        <span class="center-align">
          <h5>{{ gb.prizePoints }}</h5>
        </span>
      </div>
    </div>
  </div>
</div>