<div id="player-card">
  <div class="row">
    <div class="col s12">
      <div class="card blue darken-2">
        <div class="card-content white-text">
          <span class="card-title center-align">Play Quizdom</span>
          <div class="row">
            <div class="col s12">

              <!-- Game state defined section -->
              <div ui-view></div>

              <!-- Game players -->
              <p>Active player: {{ vm.GameService.gameData.activeUserId }}</p>
              <div class="row">
                <div ng-repeat="player in vm.GameService.players">
                  <qz-player player="player"></qz-player>
                </div>
              </div>

              <!-- Chat view embedded -->
              <div class="row">
                <div class="col s12 offset-m1 m10">
                  <ul id="gameMessages">
                    <li ng-repeat="msg in vm.GameService.gameChats | limitTo : -5">
                      <span ng-show='vm.showDate' style="font-size: smaller; color: gray;">{{msg.timestamp | date : 'yyyy/MM/dd hh:mm:ss'}}&nbsp;</span>
                      <span>{{msg.userName}}: {{msg.content}}</span>
                    </li>
                  </ul>
                  <form class="chat-form row">
                    <div class="input-field">
                      <div class="col s8 m9 l10">
                        <input id="textInput" type="text" placeholder="{{vm.AuthenticationService.User.userName}}" />
                      </div>
                      <div class="col s4 m3 l2">
                        <button type="submit" class="btn btn-primary" id="publishPostButton" ng-click="vm.triggerGameMessage()">Send</button>
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div class="card-action">
                <a class="btn" ui-sref="Invite">Invite</a>
                <a class="btn" ui-sref="Setup">Categories</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $('select').material_select();
  });
</script>