<!-- Game Summary - hidden section that appears after game -->
<div class="card grey-text text-darken-4" id='summary'>
  <div class="card-content">
    <div class="row">
      <div class="col s12">
        <table class="bordered highlight gray-text">
          <thead>
            <tr class="grey-text">
              <th class="s1"><i class="material-icons">format_list_numbered</i></th>
              <th class="s5">Player</th>
              <th class="s2 center-align">Points</th>
              <th class="s2 center-align">Correct</th>
              <th class="s2">Response</th>
            </tr>
          </thead>
          <tbody>
            <tr class="" ng-repeat="playerResult in vm.GameService.playerResults">
              <td class="s1">{{ $index + 1 }}<sup>{{ ["st", "nd", "rd", "th"][$index] }}</sup></td>
              <td class="s5"><span class="card-title">{{ playerResult.userName }}</span></td>
              <td class="s2 center-align">{{ playerResult.prizePoints }}</td>
              <td class="s2 center-align">{{ playerResult.questionsRight }}</td>
              <td class="s2">{{ playerResult.questionsRightDelay / playerResult.questionsRight / 1000 | number:3 }} s</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>